.faq{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    h3 {
            width: 100%;
            text-align: center;
            font-size: 35px;
        }

    div{
        margin:1rem;
        a{
            text-decoration: none;
            color: #ffffff83;
        }
    }
}